@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using WebApplication4.Controllers
@using WebApplication4.Models

@model Employee

<h3>Selected Product Details</h3>

<div>

    Employee Id  :  @Model.Empid  <br/>
    Employee Name  :  @Model.Ename  <br/>
    Employee Job  :  @Model.Ejob<br/>
    Employee Salary  :  @Model.Esal<br/>
    Employee Dept no  :  @Model.Edeptno<br/>
    
</div>

<hr/>
 <a href="/Employee/Index">Back to List</a>

